generate_database/png_notes/
generate_database/svg_notes/
generate_database/png_objects/
generate_database/svg_symbols/
generate_database/__pycache__/
generate_database/svg_notes_grouped/
object_detection/__pycache__/
object_detection/groups_to_separate/
object_detection/separated_lines/
object_detection/separated_notes/
__pycache__/
